beautifulsoup4==4.11.1
chromedriver_binary==101.0.4951.41.0
easyocr==1.4.1
fake_useragent==0.1.11
google_api_python_client==2.49.0
httplib2==0.20.4
imutils==0.5.4
lxml==4.6.3
memory_profiler==0.60.0
numpy==1.22.3
oauth2client==4.1.3
opencv_python_headless==4.5.5.64
requests==2.27.1
selenium==4.2.0
